
<div class="container">
<form #datos="ngForm" (ngSubmit)="postPersona(datos)" novalidate> 
  <div class="form-group">
    <label for="exampleInputEmail1">Cedula</label>
    <input name="cedula" ngModel required [(ngModel)]="usuario.cedula" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cedula">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nombres</label>
    <input name="nombres" ngModel required [(ngModel)]="usuario.nombre"  type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Pais</label>
    <select  name="pais" ngModel [(ngModel)]="usuario.pais" class="form-control">
      <option value="">Seleccione</option>
      <option [value]="pais.nombre"  *ngFor="let pais of paises" > {{ pais.nombre }} </option>
    </select>
  </div>
  <!--<div *ngFor="let gen of genero" class="custom-control custom-radio custom-control-inline">
    <input [(ngModel)]="usuario.sexo" 
    type="radio"    
    [value]="gen" 
    name="sexo" 
    class="custom-control-input">
    <label class="custom-control-label">{{ gen }}</label>
  </div>-->
  <div class="form-check"  *ngFor="let gen of genero">
    <input [(ngModel)]="usuario.sexo" 
            name="genero"
            class="form-check-input" 
            type="radio" 
            id="exampleRadios1" 
            [value]="gen" checked>
    <label class="form-check-label" for="exampleRadios1">
      {{ gen }}
    </label>
  </div>  
  
  <div class="form-group form-check">
    <input [(ngModel)]="usuario.acepta" 
           name="acepta" 
           type="checkbox" 
           class="form-check-input" 
           id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Terminos</label>
  </div>
  <button  class="btn btn-primary">Submit</button>
</form>
<tr *ngFor="let l of personas">
    <td>
      {{ l.cedula }}
    </td>
    <td>
      {{ l.nombres }}
    </td>
    <td class="text-center">
      {{ l.pais}}
    </td>    
  </tr>
   

</div>
